.DS_Store
/.build
/build.debug
/Packages
/*.xcodeproj
.idea/
/.vscode
/.swiftpm
xcuserdata/
DerivedData/
Package.resolved
# Qt demo apps
examples/*.pro.user
docs/html
docs/latex
realm-core/src/realm/parser/generated/
