.DS_Store
/.build
/Packages
/*.xcodeproj
/.swiftpm
xcuserdata/
DerivedData/
Package.resolved
**/.idea
**/.vscode
# Qt demo apps
examples/*/*.pro.user
examples/*/CMakeLists.txt.user
docs/html
docs/latex